body {
  font-family: Arial;
  color: white;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 37%;
  background-color: #e2d8cc;
}

/* Control the right side */
.right {
  right: 0;
  width: 63%;
  background-color: #eebf85;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*styling for homepage cup*/
#cup {
  z-index: 100;
}

/* for the cup */
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -50%);
  text-align: center;
  z-index: 2;
}

/* for the cup */
.image img {
  width: 150px;
  border-radius: 50%;
}

#img1 {
  height: 200px;
  width: 200px;
}

/* for the duck */
.duck {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* for the duck */
.duck img {
  width: 150px;
  border-radius: 50%;
}