body {
  font-family: Arial;
  color: white;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 37%;
  background-color: #f2bc94;
}

/* Control the right side */
.right {
  right: 0;
  width: 63%;
  z-index: 1;
  background-color: #722620;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*styling for homepage cup*/
.front img {
  z-index: 100;
  width: 150px;
  border-radius: 150%;
  position: relative;
  top: 30%;
  left: 100%;
  right: 150%
  transform: translate(-200%, -30%, -20%);

}


