/* for the navbar*/
:root {
  font-size: 14px;
  z-index: 5;
}

body {
  z-index: 5;
  margin: 0;
  padding: 40px 30px;
  height: 100vh;
  background-color: #ffdb00;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 1.2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  overflow: hidden;
}

.logo--white path {
  fill: #fff;
}

.logo svg {
  max-width: 100%;
  height: auto;
}

.header__button {
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5b7cae;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -18px;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.header__button[data-open='true'] {
  background-color: hsl(52, 100%, 50%);
  animation-name: scale;
}

.header__button[data-open='false'] {
  transition: background-color 250ms linear;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

.header__nav {
  background-color: #5b7cae;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active='true'] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 10vh;
  list-style-type: none;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0.1em;
}

.header__menu-item a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header__menu-item a:hover {
  font-style: italic;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 37%;
  background-color: #e2d8cc;
}

/* Control the right side */
.right {
  right: 0;
  width: 63%;
  background-color: #eebf85;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*styling for homepage cup*/
#cup {
  z-index: 1;
}

/* for the cup */
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -50%);
  text-align: center;
  z-index: 2;
}

/* for the cup */
.image img {
  width: 150px;
  border-radius: 50%;
}

#img1 {
  height: 200px;
  width: 200px;
}

/* for the duck */
.duck {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* for the duck */
.duck img {
  width: 150px;
  border-radius: 50%;
}
